#particles-js{

  background: url(images/workplace.jpg);
  filter: brightness(70%);
  background-position: center;
  background-size: cover ;
  background-attachment: contain ;
}

.width-title{
  top: 200px ;
  position: absolute ;
  width: 100% ;
  text-align: center;
  z-index: 1 ;
}

.title-slider{
  width: 80% ;
  margin: auto;
}

.title-slider h1 {
  color: #ffffff ;
  font-family: SourceCodePro ;
 font-size: 40px ;
 padding-bottom: 35px ;
 letter-spacing: 10px;
}


/* Line new */
