.table{
   width: 100%;
   margin:auto;
   text-align: center;
   padding-top: 25px ;
}

.tablex4{
   float: left;
   width: 25% ;
   margin-top: 20px;
}


.tablex2{
   float: left;
   width: 25% ;
   margin-top: 10px;

}


.box-price{
   border: 1px solid grey ;
   background : rgba(26, 188, 156, .8) ;
   margin-bottom: 30px ;
}

.icon-precio{
   color: #128AC9 ;
   padding-top: 20px ;
   font-size: 3em ;
   padding-bottom: 10px ;
}

.box-price h4 {
   color: #ffffff;
}

.box-price:hover{
   border: 5px solid #128AC9 ;
}

.price-1{
   color: #128AC9 ;
   font-size: 50px ;
   font-weight: bold;
}

.dolar{
   font-size: 20px ;
   vertical-align: super;
   
}

.month{
   font-size: 10px ;
   color: #ffffff ;
   vertical-align: text-bottom;
}


.month-2{
    font-size: 10px ;
    color: black ;
    vertical-align: text-bottom;
 }


.list-price{
   list-style: none;
   padding:  0px 20px ;
   color:  #878180 ;
   padding-bottom:  15px ;
}

.list-prices{
   padding: 0.25em ;
   font-size: 14px ;

}

.button-hired{
   margin-bottom:  25px ;
}
.hired-a{
   background: #128AC9;
   text-decoration: none ;
   color : #ffffff ;
   text-transform:  uppercase;
   font-weight: bold ;
   padding: 10px 70px ;
   letter-spacing: 1 px ;
   width: 90% ;
}
.hired-a:hover{
   background:white ;
   text-decoration: none ;
}

.better{
   background-color: #ffffff ;
   box-shadow: 0 0 8px rgba (0, 0, 0, 0.8 );
   z-index: 500 ;
}

.better h4{
   color: #30353c ;
   font-size: 30px ;
}

.better .icon-precio {
   font-size:  4em ;
}

.better .hired-a{
   background: #30353c ;
}

.better .hired-a:hover{
   background: white ;
   text-decoration: none ;
   border: 1px solid #128AC9 ;
}
